@model List<SelectionDemo.Models.Color>
@{
    ViewBag.Title = "Index";
}
<h1> Démonstration de sélection</h1>
<hr />
<h2>Choix de couleurs <a href="/ColorsSelection/Edit" style="text-decoration:none" class="fa fa-pen-to-square"></a></h2>
<div style="display:flex; gap:6px; flex-flow:wrap">
    @if (Model.Count > 0)
    {
        foreach (var color in Model)
        {
            <div class="colorSample" color="@color.Hex">
                @color.Name
            </div>
        }
    }
    else
    {
        <h4>Aucun choix</h4>
    }
</div>

@section Scripts {


    <script>
        $(() => {
            $(".colorSample").each(function (index, elem) {
                let hex = $(this).attr("color").split(" ")[0];
                $(this).attr("style", `text-align: center; padding:14px;font-weight:bold; color:${getContrast(hex)}; background-color:${hex}; width:180px; height:50px`);
            })
        })
    </script>
}

